<!--maybe add gradient as bg? to another blue-->
<div class="w-full p-10 pt-24">
  <h2 id="aboutme" class="pb-3 text-xl font-bold lg:pb-5 lg:text-3xl">About me</h2>
    <p class="w-full text-justify pb-3 lg:text-xl">
      I'm a 7th semester student interested in data science and machine learning, I love to blend analysis with code to offer a solution to real-life problems.
    </p>
    <p class="w-full text-justify pb-3 lg:text-xl">
      I really enjoy the full process of predictive modeling —from cleaning data to building models— because it never ceases to amaze me how much hidden insight can be uncovered when data is handled properly. While some steps, like data cleaning and feature engineering, can be tedious, I see them as opportunities to build smart, reusable code that simplifies future work. What matters most to me is making sure the results actually drive decisions. That’s why I put just as much care into writing clear, detailed reports as I do into building the models themselves.
    </p>
    <p class="w-full text-justify pb-3 lg:text-xl">
      Curiosity drives my work. I can lose track of time digging into a single outlier just to understand why it's there. I’ve always had a sharp eye; I notice the details others might overlook, and I enjoy finding meaning in the small things that often go unnoticed. To me, patterns aren't just there to be spotted —they're meant to be questioned.
    </p>
    <p class="w-full text-justify pb-3 lg:text-xl">
      Even though I love data science and coding, my life is not all about it. I like spending time at staying healthy —whether is running, gym or playing a sport—, I also enjoy discovering new places and listening to music. My actual music taste could be defined by artists like Nsqk, Alvaro Diaz, and Mora; I strongly recommend you give them a try!
    </p>
    <div class="flex flex-col w-full justify-evenly items-center py-10 gap-y-10 sm:flex-row sm:flex-wrap">
      <iframe class="max-w-[660px] w-[100%] overflow-hidden bg-transparent sm:w-[40%]" allow="autoplay *; encrypted-media *;" height="150" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/mx/album/bad-intenciones/1724424233?i=1724424755"></iframe>
      <iframe class="max-w-[660px] w-[100%] overflow-hidden bg-transparent sm:w-[40%]" allow="autoplay *; encrypted-media *;" height="150" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/mx/album/c%C3%B3rcega/1704060516?i=1704060861"></iframe>
      <iframe class="max-w-[660px] w-[100%] overflow-hidden bg-transparent sm:w-[40%]" allow="autoplay *; encrypted-media *;" height="150" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/mx/album/la-inocente/1617073796?i=1617075257"></iframe>
      <iframe class="max-w-[660px] w-[100%] overflow-hidden bg-transparent hidden sm:block sm:w-[40%]" allow="autoplay *; encrypted-media *;" height="150" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/mx/album/309/1496488400?i=1496488402"></iframe>
      <iframe class="max-w-[660px] w-[100%] overflow-hidden bg-transparent hidden sm:block sm:w-[40%]" allow="autoplay *; encrypted-media *;" height="150" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/mx/album/bandida/1811396930?i=1811396949"></iframe>
    </div>

  <h2 id="projects" class="pb-3 text-xl font-bold lg:pb-5 lg:text-3xl">Projects</h2>
    <h3 class="pb-3 text-l font-bold lg:text-2xl">Neural network for OCR</h3>
    <p class="w-full text-justify pb-3 lg:text-xl">
      Developed a hybrid neural network combining CNN and BiLSTM architectures to accurately recognize handwritten characters. Achieved a Character Error Rate below 1.2 using Keras and TensorFlow. Documentation was prepared using LaTeX. Below are some of the model's predictions.
    </p>
    <div class="flex flex-col justify-center items-center gap-8 p-5 lg:flex-row lg:justify-around">
      <img class="w-2/3 lg:w-1/3" src="assets/imgs/ocr_pred1.jpg" alt="Prediction 1 for OCR">
      <img class="w-2/3 lg:w-1/3" src="assets/imgs/ocr_pred2.jpg" alt="Prediction 2 for OCR">
    </div>

    <h3 class="pb-3 text-l font-bold lg:text-2xl">Web application for model</h3>
    <p class="w-full text-justify pb-3 lg:text-xl">
      Built a single-page web application using Angular and Flask to interact with an RNN model via an API (hey-lstm-predictor). The model was implemented with Keras and TensorFlow. Submitted as part of the 2025 DSC Datathon, with documentation written in LaTeX.
    </p>
    <div class="flex flex-col justify-center items-center gap-8 p-5 lg:flex-row lg:justify-around">
      <img class="w-2/3 lg:w-1/3" src="assets/imgs/spa_1.jpeg" alt="SPA for model">
      <img class="w-2/3 lg:w-1/3" src="assets/imgs/spa_2.jpeg" alt="SPA for model">
    </div>

    <h3 class="pb-3 text-l font-bold lg:text-2xl">notPCEL – Fake Computer Component Store</h3>
    <p class="w-full text-justify pb-3 lg:text-xl">
      Created a basic mock e-commerce platform for computer components featuring user authentication and item search functionality. Developed using Ionic and Angular for the front end, with Firebase for backend services.
    </p>
    <div class="flex gap-8 p-5 flex-row justify-around items-center">
      <img class="w-2/5 lg:w-1/5" src="assets/imgs/notpcel_1.jpg" alt="Fake store">
      <img class="w-2/5 lg:w-1/5" src="assets/imgs/notpcel_2.jpg" alt="Fake store">
    </div>

  <h2 id="repositories" class="pb-3 text-xl font-bold lg:pb-5 lg:text-3xl">Repositories</h2>
    <p class="w-full text-justify pb-3 lg:text-xl">
      These are some of my most recently commited repositories.
    </p>
    <app-repository-group class="block lg:hidden" [smallVersion]="true"></app-repository-group>
    <app-repository-group class="hidden lg:block" [smallVersion]="false"></app-repository-group>
</div>
