<div id="start" class="main-content flex flex-col items-center justify-evenly w-full md:flex-row">
  <img class="w-[20rem] rounded-full h-[20rem] lg:w-[35rem] lg:h-[35rem]" src="./assets/imgs/me.jpg" alt="image of me">
  <div class="text-center w-[20rem] text- md:w-1/3 md:text-left">
    <h1 class="pb-3 text-3xl lg:pb-5 lg:text-5xl">Hello, I'm Aldo Hernández</h1>
    <p class="lg:text-xl lg:pb-3">I am a 19-year-old C# developer from México, currently learning Python for AI and design patterns.</p>
    <p class="hidden lg:block lg:text-xl">I have some experience in web development and object-oriented programming, but I love learning about new things!</p>
  </div>
</div>
