/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-space_cadet-100: #050509;
  --color-space_cadet-200: #0a0a12;
  --color-space_cadet-300: #0f0f1b;
  --color-space_cadet-400: #151525;
  --color-space_cadet-500: #1a1a2e;
  --color-space_cadet-600: #393966;
  --color-space_cadet-700: #59599e;
  --color-space_cadet-800: #8f8fc0;
  --color-space_cadet-900: #c7c7df;
  --color-oxford_blue-100: #04060c;
  --color-oxford_blue-200: #080d18;
  --color-oxford_blue-300: #0d1324;
  --color-oxford_blue-400: #111930;
  --color-oxford_blue-500: #16213e;
  --color-oxford_blue-600: #2b417c;
  --color-oxford_blue-700: #4262bb;
  --color-oxford_blue-800: #8096d2;
  --color-oxford_blue-900: #c0cbe9;
  --color-royal_blue_traditional-100: #030713;
  --color-royal_blue_traditional-200: #060f27;
  --color-royal_blue_traditional-300: #09163a;
  --color-royal_blue_traditional-400: #0c1e4e;
  --color-royal_blue_traditional-500: #0f2460;
  --color-royal_blue_traditional-600: #1a3fa6;
  --color-royal_blue_traditional-700: #315fdf;
  --color-royal_blue_traditional-800: #7594ea;
  --color-royal_blue_traditional-900: #bacaf4;
  --color-mint-100: #00251d;
  --color-mint-200: #00493b;
  --color-mint-300: #006e58;
  --color-mint-400: #009376;
  --color-mint-500: #00b894;
  --color-mint-600: #00f9c7;
  --color-mint-700: #3bffd8;
  --color-mint-800: #7cffe5;
  --color-mint-900: #befff2;
  --color-amaranth-100: #36060e;
  --color-amaranth-200: #6c0d1c;
  --color-amaranth-300: #a2132b;
  --color-amaranth-400: #d71939;
  --color-amaranth-500: #e94560;
  --color-amaranth-600: #ed697f;
  --color-amaranth-700: #f28f9f;
  --color-amaranth-800: #f6b4bf;
  --color-amaranth-900: #fbdadf;
  --color-persian_red-100: #2b0909;
  --color-persian_red-200: #571111;
  --color-persian_red-300: #821a1a;
  --color-persian_red-400: #ae2222;
  --color-persian_red-500: #d63031;
  --color-persian_red-600: #de5858;
  --color-persian_red-700: #e68282;
  --color-persian_red-800: #efacac;
  --color-persian_red-900: #f7d5d5;
  --color-seasalt-100: #323232;
  --color-seasalt-200: #646464;
  --color-seasalt-300: #969696;
  --color-seasalt-400: #c8c8c8;
  --color-seasalt-500: #f9f9f9;
  --color-seasalt-600: #fbfbfb;
  --color-seasalt-700: #fcfcfc;
  --color-seasalt-800: #fdfdfd;
  --color-seasalt-900: #fefefe;
}
